.button {
  width: 82px;
  height: 48px;
  background: #eb0c0c;
  border-radius: 12px;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background: #c30000;
}
