.input {
  width: 420px;
  height: 48px;
  background: #eeeeee;
  border-radius: 12px;
  font-size: 16px;
  padding: 12px 11px 12px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  color: #000000;
  @media (max-width: 550px) {
    width: 268px;
    padding: 12px 10px;
  }
}
input:focus::placeholder {
  color: transparent;
}
.input:hover {
  cursor: pointer;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  background: url("../Icons/clear.svg");
}

.icon {
  position: absolute;
  left: 10px;
  top: 12px;
  @media (max-width: 550px) {
    display: none;
  }
}
.form {
  position: relative;
}
.searchBlock {
  display: flex;
  gap: 8px;
  // justify-content: center;
}
.searchBlockCenter {
  display: flex;
  gap: 8px;
  margin-top: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
